<div class="login container-fluid text-center">
    <div class="row justify-content-end">
        <form class="form-signin col-4 mr-5">

            <img class="mb-4" src="assets/bootstrap-solid.svg" alt="" width="72" height="72">

            <h1 class="h3 mb-3 font-weight-normal">Faça o login</h1>

            <label class="sr-only">Email</label>
            <input type="email" ng-model="vm.email" class="form-control" placeholder="Email" required autofocus>
            
            <label class="sr-only">Senha</label>
            <input type="password" ng-model="vm.senha" class="form-control" placeholder="Senha" required>
            
            <button ng-click="vm.login()" class="btn btn-lg btn-primary btn-block" type="button">Entrar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
    </div>
</div>