<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8">
                <h2 class="title">{{vm.title}}</h2>
                <form>
                    <ui-input 
                       msg-class="muted" 
                       msg="Digite um CPF ou CNPJ válido"
                       ng-model="vm.record.documento"
                       label="Documento">
                    </ui-input>
                    <ui-input ng-model="vm.record.nome" label="Nome"></ui-input>
                    <ui-input ng-model="vm.record.email" type="email" label="Email"></ui-input>
                    <ui-input ng-model="vm.record.telefone" label="Telefone"></ui-input>
                    <button ng-click="vm.save()" type="button" class="btn btn-primary btn-lg">Salvar Registro</button>
                    <a ui-sref="app.cliente.list" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>